n8n/linear-router.json
{
  "name": "Linear Router \u2014 Routines + Paperclip",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linear-router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Linear Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "webhookId": "linear-router"
    },
    {
      "parameters": {
        "jsCode": "// Dedup on issueId + updatedAt. Uses workflow static data so retries don't double-fire.\n// Linear webhooks arrive wrapped: { headers, body: { action, data, ... } }. Unwrap .body;\n// fall back to raw json for manual test calls or upstream nodes that already unwrapped.\nconst payload = $input.first().json.body || $input.first().json;\nconst action = payload.action;\nconst issue = payload.data || {};\nconst issueId = issue.id;\nconst updatedAt = issue.updatedAt;\nconst stateName = issue.state?.name;\nconst labels = (issue.labels || []).map(l => l.name);\nconst appLabel = labels.find(l => !l.startsWith('type:')) || 'global';\nconst typeLabel = labels.find(l => l.startsWith('type:')) || null;\n\n// Only operate on issue updates that are status changes to our trigger statuses.\nconst triggerStatuses = new Set(['Ready for Claude routines', 'Ready for agent build']);\nif (action !== 'update' || !triggerStatuses.has(stateName)) {\n  return [{ json: { skip: true, reason: 'not-a-trigger-status', stateName } }];\n}\n\n// Dedup\nconst staticData = $getWorkflowStaticData('global');\nstaticData.seen = staticData.seen || {};\nconst key = `${issueId}:${updatedAt}`;\nif (staticData.seen[key]) {\n  return [{ json: { skip: true, reason: 'duplicate', key } }];\n}\n// Prune: keep only last 500 entries\nconst keys = Object.keys(staticData.seen);\nif (keys.length > 500) {\n  keys.slice(0, keys.length - 500).forEach(k => delete staticData.seen[k]);\n}\nstaticData.seen[key] = Date.now();\n\nreturn [{\n  json: {\n    skip: false,\n    issueId,\n    issueIdentifier: issue.identifier,\n    issueTitle: issue.title,\n    issueDescription: issue.description || '',\n    issueUrl: issue.url,\n    updatedAt,\n    stateName,\n    typeLabel,\n    appLabel,\n    allLabels: labels,\n  }\n}];"
      },
      "id": "dedup-and-parse",
      "name": "Dedup + Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-skipped",
      "name": "If not skipped",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-routine",
                    "leftValue": "={{ $json.stateName }}",
                    "rightValue": "Ready for Claude routines",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "routine"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-paperclip",
                    "leftValue": "={{ $json.stateName }}",
                    "rightValue": "Ready for agent build",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "paperclip"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-on-status",
      "name": "Switch on status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Map type:* label to the routine fire endpoint + bearer token env var.\nconst input = $input.first().json;\nconst typeLabel = input.typeLabel;\n\nconst routines = {\n  'type:architect':  { url: $env.ROUTINE_ARCHITECT_URL,  token: $env.ROUTINE_ARCHITECT_TOKEN,  name: 'Technical Architect' },\n  'type:analyst':    { url: $env.ROUTINE_ANALYST_URL,    token: $env.ROUTINE_ANALYST_TOKEN,    name: 'Analyst' },\n  'type:ux':         { url: $env.ROUTINE_UX_URL,         token: $env.ROUTINE_UX_TOKEN,         name: 'User Researcher' },\n  'type:research':   { url: $env.ROUTINE_RESEARCH_URL,   token: $env.ROUTINE_RESEARCH_TOKEN,   name: 'AI Researcher' },\n};\n\nconst routine = routines[typeLabel];\nif (!routine || !routine.url) {\n  throw new Error(`No routine configured for label ${typeLabel}`);\n}\n\nconst firePayloadText = `Linear ticket ${input.issueIdentifier}: ${input.issueTitle}\\n\\n${input.issueDescription}\\n\\nLabels: ${input.allLabels.join(', ')}\\nApp: ${input.appLabel}\\nURL: ${input.issueUrl}`;\n\nreturn [{\n  json: {\n    ...input,\n    routineName: routine.name,\n    routineUrl: routine.url,\n    routineToken: routine.token,\n    firePayload: { text: firePayloadText },\n    firePayloadText,\n  }\n}];"
      },
      "id": "pick-routine",
      "name": "Pick routine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        260
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.routineUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.routineToken }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "experimental-cc-routine-2026-04-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.firePayload) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "fire-routine",
      "name": "Fire routine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Classify Fire routine response. Returns { outcome } where outcome is 'ok' | 'capped' | 'failed'.\n// Response shape from https://code.claude.com/docs/en/routines#trigger-a-routine is:\n//   { type: 'routine_fire', claude_code_session_id: '...', claude_code_session_url: '...' }\nconst pickInput = $('Pick routine').item.json;\nconst resp = $input.first().json;\nconst status = resp.statusCode || resp.status || 0;\nconst body = resp.body || resp;\n\nlet outcome;\nif (status >= 200 && status < 300) outcome = 'ok';\nelse if (status === 429) outcome = 'capped';\nelse outcome = 'failed';\n\nreturn [{\n  json: {\n    ...pickInput,\n    outcome,\n    statusCode: status,\n    responseBody: body,\n    claude_code_session_id: body?.claude_code_session_id || null,\n    claude_code_session_url: body?.claude_code_session_url || null,\n  }\n}];"
      },
      "id": "classify-fire",
      "name": "Classify fire response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        260
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-ok",
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-capped",
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "capped",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "capped"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-failed",
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-fire-outcome",
      "name": "Switch fire outcome",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1740,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.LINEAR_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query: `mutation CommentCreate($issueId: String!, $body: String!) { commentCreate(input: { issueId: $issueId, body: $body }) { success } }`,\n  variables: {\n    issueId: $json.issueId,\n    body: `\u2699 ${$json.routineName} routine fired.\\n\\nSession: ${$json.claude_code_session_url || 'pending'}\\nSession ID: ${$json.claude_code_session_id || 'pending'}\\n\\n(Langfuse trace URL will be posted by the routine itself on completion.)`\n  }\n}) }}",
        "options": {}
      },
      "id": "comment-routine-fired",
      "name": "Comment \u2014 routine fired",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "// 429 path: append to deferred_fires static data for the drainer workflow to pick up tomorrow.\nconst input = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.deferred_fires = staticData.deferred_fires || [];\n\nconst entry = {\n  issueId: input.issueId,\n  issueIdentifier: input.issueIdentifier,\n  issueTitle: input.issueTitle,\n  issueDescription: input.issueDescription,\n  issueUrl: input.issueUrl,\n  typeLabel: input.typeLabel,\n  appLabel: input.appLabel,\n  allLabels: input.allLabels,\n  routineName: input.routineName,\n  routineUrl: input.routineUrl,\n  routineToken: input.routineToken,\n  firePayloadText: input.firePayloadText,\n  deferredAt: Date.now(),\n};\nstaticData.deferred_fires.push(entry);\n\nreturn [{ json: { ...input, deferredQueueSize: staticData.deferred_fires.length } }];"
      },
      "id": "defer-fire",
      "name": "Defer fire (append to queue)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.LINEAR_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query: `mutation CommentCreate($issueId: String!, $body: String!) { commentCreate(input: { issueId: $issueId, body: $body }) { success } }`,\n  variables: {\n    issueId: $json.issueId,\n    body: `\ud83d\udd50 ${$json.routineName} routine fire deferred \u2014 15/day Max plan cap reached. Will retry at 00:05 UTC via the deferred-fire drainer. Queue size: ${$json.deferredQueueSize}.`\n  }\n}) }}",
        "options": {}
      },
      "id": "comment-deferred",
      "name": "Comment \u2014 deferred",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        280
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#agent-team",
          "mode": "name",
          "cachedResultName": "agent-team"
        },
        "text": "=\ud83d\udd50 Routine fire deferred (15/day cap reached).\nIssue: {{ $json.issueIdentifier }} \u2014 {{ $json.issueTitle }}\nRoutine: {{ $json.routineName }}\nQueue size: {{ $json.deferredQueueSize }}\nWill retry at next 00:05 UTC drainer cycle.",
        "otherOptions": {}
      },
      "id": "slack-deferred",
      "name": "Slack \u2014 deferred",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2400,
        280
      ],
      "credentials": {
        "slackApi": {
          "id": "REPLACE-WITH-SLACK-CRED-ID",
          "name": "Slack \u2014 #agent-team"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#agent-team",
          "mode": "name",
          "cachedResultName": "agent-team"
        },
        "text": "=\u274c Routine fire failed (non-429 error).\nIssue: {{ $json.issueIdentifier }} \u2014 {{ $json.issueTitle }}\nRoutine: {{ $json.routineName }}\nStatus: {{ $json.statusCode }}\nBody: {{ JSON.stringify($json.responseBody).slice(0, 500) }}",
        "otherOptions": {}
      },
      "id": "slack-fire-failed",
      "name": "Slack \u2014 fire failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1960,
        420
      ],
      "credentials": {
        "slackApi": {
          "id": "REPLACE-WITH-SLACK-CRED-ID",
          "name": "Slack \u2014 #agent-team"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.PAPERCLIP_API_URL }}/api/companies/{{ $env.PAPERCLIP_COMPANY_ID }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PAPERCLIP_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "list-paperclip-labels",
      "name": "List Paperclip labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Find-or-create the `linear:{identifier}` label in Paperclip.\n// Paperclip's createIssueSchema has no `linear_ticket_id` field (extra fields are silently\n// dropped), so we persist the Linear ticket -> Paperclip issue link via a label instead.\n// The reconciler can then filter issues by this label's UUID (Paperclip supports ?labelId=<uuid>).\nconst input = $('Dedup + Parse').item.json;\nconst body = $input.first().json;\nconst labels = Array.isArray(body) ? body : (body?.labels || body?.data || []);\nconst target = `linear:${input.issueIdentifier}`;\nconst match = Array.isArray(labels) ? labels.find(l => l && l.name === target) : null;\nif (match && match.id) {\n  return [{\n    json: {\n      ...input,\n      linearLabelId: match.id,\n      needsLabelCreate: false,\n    }\n  }];\n}\n// Color is required by createIssueLabelSchema (6-digit hex). Use Linear's brand purple.\nreturn [{\n  json: {\n    ...input,\n    linearLabelId: null,\n    needsLabelCreate: true,\n    labelCreatePayload: { name: target, color: '#5E6AD2' },\n  }\n}];"
      },
      "id": "resolve-linear-label",
      "name": "Resolve linear label",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-create-check",
              "leftValue": "={{ $json.needsLabelCreate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-label-create",
      "name": "If needs label create",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PAPERCLIP_API_URL }}/api/companies/{{ $env.PAPERCLIP_COMPANY_ID }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PAPERCLIP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.labelCreatePayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-linear-label",
      "name": "Create linear label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "// POST /api/companies/:id/labels returns 201 with { id, name, color, ... }.\n// Re-attach the ticket fields (which the HTTP node's output replaces with the response body)\n// and hand off the new label UUID to `Build Paperclip payload`.\nconst ticket = $('Resolve linear label').item.json;\nconst resp = $input.first().json;\nconst newId = resp?.id || resp?.data?.id;\nif (!newId) {\n  throw new Error(`Create linear label returned no id. Response: ${JSON.stringify(resp).slice(0, 300)}`);\n}\nreturn [{\n  json: {\n    ...ticket,\n    linearLabelId: newId,\n    needsLabelCreate: false,\n  }\n}];"
      },
      "id": "capture-new-label-id",
      "name": "Capture new label ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Paperclip task payload.\n// NOTE: Paperclip's createIssueSchema only accepts a narrow set of fields; anything extra\n// is silently dropped. `linear_ticket_id`, `linear_issue_id`, `linear_url`, `app_id`, `labels`\n// are kept here for forward-compat / debugging (they're harmless no-ops today). The Linear ->\n// Paperclip link is actually persisted via `labelIds`, resolved by `Resolve linear label` /\n// `Capture new label ID` upstream.\nconst input = $input.first().json;\n\nconst payload = {\n  linear_ticket_id: input.issueIdentifier,\n  linear_issue_id: input.issueId,\n  linear_url: input.issueUrl,\n  app_id: input.appLabel,\n  title: input.issueTitle,\n  description: input.issueDescription,\n  labels: input.allLabels,\n  labelIds: input.linearLabelId ? [input.linearLabelId] : [],\n};\n\nreturn [{ json: { ...input, paperclipPayload: payload } }];"
      },
      "id": "build-paperclip-payload",
      "name": "Build Paperclip payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PAPERCLIP_API_URL }}/api/companies/{{ $env.PAPERCLIP_COMPANY_ID }}/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PAPERCLIP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.paperclipPayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-paperclip-task",
      "name": "Create Paperclip issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.LINEAR_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query: `mutation CommentCreate($issueId: String!, $body: String!) { commentCreate(input: { issueId: $issueId, body: $body }) { success } }`,\n  variables: {\n    issueId: $('Build Paperclip payload').item.json.issueId,\n    body: `\u2699 Paperclip issue created for execution layer.\\n\\nIssue ID: ${$json.id || $json.issue_id || $json.paperclip_issue_id || 'see Paperclip'}\\nApp: ${$('Build Paperclip payload').item.json.appLabel}`\n  }\n}) }}",
        "options": {}
      },
      "id": "comment-paperclip-created",
      "name": "Comment \u2014 Paperclip issue created",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, ts: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2840,
        400
      ]
    }
  ],
  "connections": {
    "Linear Webhook": {
      "main": [
        [
          {
            "node": "Dedup + Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup + Parse": {
      "main": [
        [
          {
            "node": "If not skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not skipped": {
      "main": [
        [
          {
            "node": "Switch on status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on status": {
      "main": [
        [
          {
            "node": "Pick routine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Paperclip labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Paperclip labels": {
      "main": [
        [
          {
            "node": "Resolve linear label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve linear label": {
      "main": [
        [
          {
            "node": "If needs label create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If needs label create": {
      "main": [
        [
          {
            "node": "Create linear label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Paperclip payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create linear label": {
      "main": [
        [
          {
            "node": "Capture new label ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture new label ID": {
      "main": [
        [
          {
            "node": "Build Paperclip payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick routine": {
      "main": [
        [
          {
            "node": "Fire routine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack \u2014 fire failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire routine": {
      "main": [
        [
          {
            "node": "Classify fire response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify fire response": {
      "main": [
        [
          {
            "node": "Switch fire outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch fire outcome": {
      "main": [
        [
          {
            "node": "Comment \u2014 routine fired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Defer fire (append to queue)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack \u2014 fire failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment \u2014 routine fired": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defer fire (append to queue)": {
      "main": [
        [
          {
            "node": "Comment \u2014 deferred",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment \u2014 deferred": {
      "main": [
        [
          {
            "node": "Slack \u2014 deferred",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack \u2014 deferred": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack \u2014 fire failed": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Paperclip payload": {
      "main": [
        [
          {
            "node": "Create Paperclip issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Paperclip issue": {
      "main": [
        [
          {
            "node": "Comment \u2014 Paperclip issue created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment \u2014 Paperclip issue created": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "agent-team"
    },
    {
      "name": "router"
    }
  ],
  "meta": {
    "instanceId": "agent-team"
  }
}