n8n/reconciler.json
{
  "name": "Linear Router \u2014 Reconciler",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.LINEAR_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query: `query StuckIssues($tenMinAgo: DateTimeOrDuration!) {\n    issues(\n      filter: {\n        state: { name: { in: [\\\"Ready for Claude routines\\\", \\\"Ready for agent build\\\"] } }\n        updatedAt: { lt: $tenMinAgo }\n      }\n      first: 50\n    ) {\n      nodes {\n        id\n        identifier\n        title\n        description\n        url\n        updatedAt\n        state { name }\n        labels { nodes { name } }\n      }\n    }\n  }`,\n  variables: {\n    tenMinAgo: new Date(Date.now() - 10*60*1000).toISOString()\n  }\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "query-stuck-issues",
      "name": "Query stuck Linear tickets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Flatten the GraphQL response into one item per ticket.\nconst body = $input.first().json;\nconst nodes = body?.data?.issues?.nodes || [];\nif (nodes.length === 0) {\n  return [{ json: { empty: true, count: 0 } }];\n}\nreturn nodes.map(n => ({\n  json: {\n    issueId: n.id,\n    issueIdentifier: n.identifier,\n    issueTitle: n.title,\n    issueDescription: n.description || '',\n    issueUrl: n.url,\n    updatedAt: n.updatedAt,\n    stateName: n.state.name,\n    labels: (n.labels?.nodes || []).map(l => l.name),\n  }\n}));"
      },
      "id": "flatten-tickets",
      "name": "Flatten tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-tickets",
      "name": "If any stuck tickets",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-routine",
                    "leftValue": "={{ $json.stateName }}",
                    "rightValue": "Ready for Claude routines",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "routine"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-paperclip",
                    "leftValue": "={{ $json.stateName }}",
                    "rightValue": "Ready for agent build",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "paperclip"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-by-status",
      "name": "Switch by status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1080,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.LINEAR_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query: `query IssueComments($id: String!) { issue(id: $id) { comments(first: 50) { nodes { body } } } }`,\n  variables: { id: $json.issueId }\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-routine-comments",
      "name": "Check routine fired comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Look for the main router's \"routine fired\" marker in comments.\nconst ticket = $('Switch by status').item.json;\nconst body = $input.first().json;\nconst comments = body?.data?.issue?.comments?.nodes || [];\nconst marker = /\u2699\\s*(Technical Architect|Analyst|User Researcher|AI Researcher)\\s+routine fired/i;\nconst fired = comments.some(c => marker.test(c.body || ''));\nreturn [{\n  json: {\n    ...ticket,\n    evidence: fired ? 'comment-found' : 'none',\n    missed: !fired,\n  }\n}];"
      },
      "id": "routine-evidence-check",
      "name": "Routine evidence check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.PAPERCLIP_API_URL }}/api/companies/{{ $env.PAPERCLIP_COMPANY_ID }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PAPERCLIP_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "list-paperclip-labels",
      "name": "List Paperclip labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Resolve the `linear:{identifier}` label's UUID from the labels list.\n// Paperclip's issue filter endpoint accepts `?labelId=<uuid>` (singular), so we need the UUID.\n// If the label doesn't exist, no Paperclip issue exists for this Linear ticket -> mark as missed\n// immediately so the FALSE branch of `If label exists` can bypass the issues query.\nconst ticket = $('Switch by status').item.json;\nconst body = $input.first().json;\nconst labels = Array.isArray(body) ? body : (body?.labels || body?.data || []);\nconst target = `linear:${ticket.issueIdentifier}`;\nconst match = Array.isArray(labels) ? labels.find(l => l && l.name === target) : null;\nif (match && match.id) {\n  return [{\n    json: {\n      ...ticket,\n      linearLabelId: match.id,\n      labelExists: true,\n    }\n  }];\n}\nreturn [{\n  json: {\n    ...ticket,\n    linearLabelId: null,\n    labelExists: false,\n    evidence: 'none',\n    missed: true,\n  }\n}];"
      },
      "id": "resolve-linear-label",
      "name": "Resolve linear label",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "label-exists-check",
              "leftValue": "={{ $json.labelExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-label-exists",
      "name": "If label exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1740,
        440
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.PAPERCLIP_API_URL }}/api/companies/{{ $env.PAPERCLIP_COMPANY_ID }}/issues",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "labelId",
              "value": "={{ $json.linearLabelId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PAPERCLIP_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-paperclip-task",
      "name": "Check Paperclip task exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Paperclip evidence check. The upstream GET filters issues by the linear:{identifier}\n// label UUID resolved in `Resolve linear label`. If any issues came back, the Linear\n// ticket was successfully routed into Paperclip. Tolerate different response shapes.\nconst ticket = $('Switch by status').item.json;\nconst body = $input.first().json;\nconst issues = Array.isArray(body) ? body : (body?.issues || body?.tasks || body?.data || []);\nconst found = Array.isArray(issues) && issues.length > 0;\nreturn [{\n  json: {\n    ...ticket,\n    evidence: found ? 'issue-found' : 'none',\n    missed: !found,\n  }\n}];"
      },
      "id": "paperclip-evidence-check",
      "name": "Paperclip evidence check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "missed-check",
              "leftValue": "={{ $json.missed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-missed",
      "name": "If missed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_ROUTER_WEBHOOK_URL || 'http://localhost:5678/webhook/linear-router' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Reconciler",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  action: 'update',\n  data: {\n    id: $json.issueId,\n    identifier: $json.issueIdentifier,\n    title: $json.issueTitle,\n    description: $json.issueDescription,\n    url: $json.issueUrl,\n    updatedAt: $json.updatedAt,\n    state: { name: $json.stateName },\n    labels: $json.labels.map(name => ({ name }))\n  }\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "refire-missed",
      "name": "Re-fire via main router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all refired tickets for the summary Slack alert.\nconst items = $input.all();\nconst refired = items.map(i => ({\n  identifier: i.json.issueIdentifier,\n  title: i.json.issueTitle,\n  state: i.json.stateName,\n  url: i.json.issueUrl,\n}));\nreturn [{ json: { count: refired.length, refired } }];"
      },
      "id": "collect-refired",
      "name": "Collect refired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "count-gt-0",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-any-refired",
      "name": "If any refired",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3060,
        280
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#agent-team",
          "mode": "name",
          "cachedResultName": "agent-team"
        },
        "text": "=\ud83d\udd01 Reconciler recovered {{ $json.count }} missed fire{{ $json.count === 1 ? '' : 's' }} this cycle:\n{{ $json.refired.map(r => `\u2022 ${r.identifier} \u2014 ${r.title} (${r.state})`).join('\\n') }}",
        "otherOptions": {}
      },
      "id": "slack-reconciled",
      "name": "Slack \u2014 reconciled",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3280,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "REPLACE-WITH-SLACK-CRED-ID",
          "name": "Slack \u2014 #agent-team"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [
        [
          {
            "node": "Query stuck Linear tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query stuck Linear tickets": {
      "main": [
        [
          {
            "node": "Flatten tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten tickets": {
      "main": [
        [
          {
            "node": "If any stuck tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If any stuck tickets": {
      "main": [
        [
          {
            "node": "Switch by status",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch by status": {
      "main": [
        [
          {
            "node": "Check routine fired comments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Paperclip labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check routine fired comments": {
      "main": [
        [
          {
            "node": "Routine evidence check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Paperclip labels": {
      "main": [
        [
          {
            "node": "Resolve linear label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve linear label": {
      "main": [
        [
          {
            "node": "If label exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If label exists": {
      "main": [
        [
          {
            "node": "Check Paperclip task exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If missed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Paperclip task exists": {
      "main": [
        [
          {
            "node": "Paperclip evidence check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routine evidence check": {
      "main": [
        [
          {
            "node": "If missed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperclip evidence check": {
      "main": [
        [
          {
            "node": "If missed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If missed": {
      "main": [
        [
          {
            "node": "Re-fire via main router",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Re-fire via main router": {
      "main": [
        [
          {
            "node": "Collect refired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect refired": {
      "main": [
        [
          {
            "node": "If any refired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If any refired": {
      "main": [
        [
          {
            "node": "Slack \u2014 reconciled",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "agent-team"
    },
    {
      "name": "reconciler"
    }
  ],
  "meta": {
    "instanceId": "agent-team"
  }
}